<div id='signin' ng-model="AuthController">
  <h1>signin</h1>
  <form name="signinForm" ng-disabled="singin().$invalid" ng-submit='signin()'>
    <!-- username -->
    <label>Username</label>
    <input type='text' name='username' ng-model='user.username' required>
    <p class='invalid' ng-show="signinForm.username.$invalid">Your name is required.</p> 
    <!-- password -->
    <label>Password</label>
    <input type="password" name='password' ng-model='user.password' required>
    <p class='invalid' ng-show="signinForm.password.$invalid">Your password is required.</p> 
    <button>Sign in</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>

